# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
Lib/
Scripts/
Include/
pyvenv.cfg

# Environment variables
.env

# Logs
logs/
*.log

# Ruff cache
.ruff_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/